
a{
  color: gray;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

body, th, btn {
  color: gray;
  font-family: 'Open Sans', sans-serif;
}

#top-nav {
  width: 100%;
  position: fixed;
  /* border-bottom: 1px solid gray; */
  background-color: white;
  padding-top: 1em;
  z-index: 1;
}

.logo {
  font-family: 'Amatic SC', cursive;
  font-size: 34px;
}

.suggestion {
  font-size: 14px;
  color: white;
  margin:1em 0 0 0;
  width: 100%;
}

.cover-art {
  margin-top: 1em;
  margin-bottom: 1em;
}

.all-authors {
  font-size: 10px;
}
.jumbotron {
  /* background-image: url("/Users/petrastumpf/Documents/Projects/books1/assets/punchbug.jpg"); */
  background-color: transparent;
  width: 100%;
  margin-top: 0;
  height: 400px;
}

.nav-link {
  background-color: white;

}
.discover {
  padding: 1em 0em 0em 3em;
}
.login {

}
.main-search {
  padding-top: 8em;
}
.all-authors {
  margin-left: 5px;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid gray;
}
